---
import About from './About.astro'
import Card from './Card.astro'
import WritterMachine from './WritterMachine.astro'
import { mainContent } from '../data/mainData'
---

<section class='home sect-g' id='home'>
	<article class='home-article'>
		<div class='home-writter'>
			<Card>
				<WritterMachine slot='content' width={mainContent.writterText.length}>
					{mainContent.writterText}
				</WritterMachine>
			</Card>
		</div>
		<Card>
			<img src='/images/pp.webp' alt='' slot='content' class='home-image' />
			<div class='home-content' slot='content-right'>
				<h1 class='home-title mx-0'>{mainContent.title}</h1>
				<h3 class='home-name mx-0'>{mainContent.name}</h3>
				<span class='home-slogan'>
					{mainContent.slogan}
				</span>
			</div>
		</Card>
	</article>
	<article class='home-article' id='about'>
		<Card>
			<About slot='content' />
		</Card>
	</article>
</section>
<style lang='scss'>
	.home {
		&-article {
			display: grid;
			gap: 1rem;
		}

		&-image {
			display: block;
			width: min(100% - 1rem, 250px);
			height: 100%;

			object-fit: cover;
			border-top-left-radius: var(--border-radius);
			border-bottom-right-radius: var(--border-radius);
		}

		&-title {
			font-size: 1rem;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
			color: var(--text-s-color);
		}

		&-name {
			font-size: 2.5rem;
			font-weight: 700;
			letter-spacing: 0.2rem;
			color: var(--s-color);
		}

		&-slogan {
			font-size: 1rem;
			font-weight: 300;
			color: var(--text-s-color);
		}

		&-name,
		&-title,
		&-slogan {
			display: block;
			text-align: center;

			@media screen and (min-width: 768px) {
				text-align: left;
			}
		}

		&-writter {
			display: grid;
			font-size: 1rem;
			@media screen and (min-width: 768px) {
				font-size: 1.2rem;
			}
		}
	}
</style>
